<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    
    #one{
        background-color: aqua;
    }
    .one{
        background-color: springgreen;
    }
</style>
<body>
    <center>
        <h1 id="one">........Jinja_Printing_Tags.......</h1>
        <h1 class="one">{{name}}</h1>
        <h1 class="one">{{id}}</h1>
    </center>
</body>
</html>